Dear $person.speakerName.

We regret to inform you that we are unable to accept your proposal, "$person.presentationName".

We hope however that you will keep up the good effort and submit proposals next year as well!

The high quality of all the submissions this year has made the selection process very difficult, and unfortunately we cannot accept all talks. We received more than 300 submissions this year, and we have around 90 available slots.

Best regards,
The JavaZone Programme Committee
