Hi $person.speakerName

We would like to inform you that Call for Papers for JavaZone 2007 is now opened.

JavaZone 2007 will take place in Oslo, September 12-13 and will offer a combination of technical talks and panels in an intimate atmosphere with 2000 - 2400 participants expected. The conference is organized by javaBin, the Norwegian Java User Group (JUG), and is the sixth consecutive JavaZone conference.

This year's JavaZone conference consists of six tracks:

    * Core Java, AOP and utilities
    * Enterprise application development and integration
    * Java Web Technologies
    * Embedded, Mobile and Gaming
    * Experience reports
    * Methodology and Business

Last years conference (www.javazone.no/2006/) was a massive success, and included an impressive lineup of internationally known speakers. The conference hosted more than 90 sessions in six parallel tracks, and was attended by more than 1400 software professionals.

More information is available at http://www.javazone.no. Please send your ideas for this year's talk to program@java.no.

Call for Papers closes at April 30. We would appreciate if you spread the word in your local community.

Best regards, The JavaZone program committee

About javaBin javaBin is an independent, idealistic organization established in 1996 by a group of Java-enthusiasts. Our goal is to create a community for sharing knowledge, experience and viewpoints on Java technology. We work to strengthen the professional Java skills of our members by spreading the knowledge of relevant results, techniques and useful tools. javaBin currently has about 1000 members from 170+ different companies.