We would like to inform you that the Call for Papers for JavaZone 2010 is now open.

To take place in Oslo, Norway, on 8-9th of September 2010, the conference will offer a combination of technical talks and panels in an informal atmosphere with an expected attendance of more than 2000. JavaZone 2010 will be the ninth consecutive JavaZone conference.

As previous years, last year's conference was a massive success, with more than 2200 software professionals and partners enjoying over 100 sessions covering multiple topics, and an impressive lineup of internationally known speakers. Leaders in the community rate JavaZone as one of the most important Java events in Europe.

The JavaZone conference is organized by javaBin, the Norwegian Java User Group (JUG). javaBin is an idealistic, non-profit organization established in 1996 by a group of Java enthusiasts. The JUG has since evolved to be the leading group for the promotion of Java in Scandinavia.

Topics
This year we are requesting abstracts on the following topics:

* Alternative languages
* Concurrency / scalability
* Enterprise
* Core / JVM
* Web / frontend
* Tooling
* Methodology
* Testing / Craftmanship
* Experience report

Format and duration
The presentations may be given in two formats, either a 60 min presentation, or a 10 min lightning talk.

Where to submit
Please submit your abstracts at http://www.java.no/submitit/.

Dates
Call for Paper closes on March 21st 2010.

JourneyZone
We would like to invite speakers to explore the wild nature, enjoy the very best of Norwegian food and have a great time together in the weekend following the conference.

The Journey goes across Besseggen in Jotunheimen where we will follow in the footprints of Peer Gynt, a well known character from Henrik Ibsen's drama with the same title. The main hike is challenging but we will plan alternate routes so that everyone can participate and have a safe and joyful hike.

For more detailed information as well as pictures, please see http://jz10.java.no/journey.html.

ClubZone
The ClubZone is a social event during the evening of the first conference day, where the conference delegates will have ample opportunities for mingling and socializing at various bars and clubs in the vicinity of the conference venue. More information will be available at http://www.javazone.no/.

Recording
All presentations are recorded and will be distributed shortly after the conference. The recordings from JavaZone 2009 are available at http://tcs.java.no/.

Monetary politics
The organiser of JavaZone is javaBin (the Norwegian Java User Group), an independent, non-profit organization. The conference has partners but no sponsors. The agenda is defined by the Program Committee without external interference. This independence is among the things that make JavaZone unique. We therefore have a limited budget for reimbursing conference speakers. Please see http://jz90.java.no/moneypolicy.html.

For more information
Please do not hesitate to contact us at mailto:program@java.no should you need any further information. See also http://www.java.no/submitit/help.

We hope to see you at JavaZone. Please feel free to spread the word about our conference in your local community.

Best Regards,
The JavaZone Program Committee