Dear $person.speakerName,

We are pleased to inform you that your presentation, "$person.presentationName", has been accepted for JavaZone 2010.

The JavaZone Program Committee will be announcing presentations officially as soon as we have confirmations from the speakers. Domestic speakers are already announced. We will announce further updates on www.javazone.no. We apologize for the lack of RSS feeds ;).

We would like to remind you of the following:
1) Please respond to this mail to confirm that it has been received and whether you will attend the speaker's dinner on September 7th.
2) Please submit a high resolution portrait photo of yourself if you haven't done so already.
3) Please tag your abstract with the tags suggested by our online "SubmitIT" application.
4) There might be some extra feedback from the program committee as a result of the final evaluation.
5) Final slides must be uploaded by September 1st.
6) Please note that your outline will be published when you confirm this email and that any changes you make will be available right away on our website.
7) There is a very limited budget for reimbursing travelling costs. This e-mail does not automatically make you eligible for reimbursements. Please see http://jz10.java.no/moneypolicy.html for information about how you can apply for reimbursements.
8) JourneyZone. We would like to invite speakers to explore the wild nature, enjoy the very best of Norwegian food and have a great time together in the weekend following the conference. For more detailed information as well as pictures, please see http://jz10.java.no/journey.html. Please let us know if you would like to participate.

Please note that the response time on emails during the summer holidays (in July) will be reduced.

If you have any questions regarding the conference, please feel free to contact the Programme Committee on program@java.no.

Best regards,
The JavaZone 2010 Program Committee
