Hei, $person.speakerName.

Det har vært høy kvalitet på foredragene som har blitt foreslått til årets JavaZone, noe som har gjort utvelgelsesprosessen svært vanskelig. Faktisk fikk vi nesten 250 forslag, og vi kunne bare velge 90 av disse. I den forbindelse er det med beklagelse vi meddeler at vi ikke hadde muligheten for å ta inn ditt foredrag, "$person.presentationName". Vi ønsker å sende de foredragene som ikke fikk plass i år over til javaBin møtegruppe, slik at de kanskje kan holdes på et av de månedlige javaBin-møtene. Hvis du ikke ønsker dette, vennligst ta kontakt med oss.

Vi takker for innsatsen og håper at du prøver igjen neste år!

Med vennlig hilsen
Programkomiteen for JavaZone
