Hi!

Thank you for your presentation $evalResult.talk.title at the
JavaZone 2006 conference. We have now processed the evaluations.
Unfortunately, we did not receive enough evaluations of your
presentation to get a significant result. We hope to hear from you
again next year!

Best regards,
JavaZone 2006 Program Committee