Dear JavaZone Speaker,

JavaZone is approaching and we would like to inform you about some practicalities for the conference.

We recommend that your display for the presentation has a refresh rate not higher than 60hz. A screen resolution of aroung 1400*900 is recommended. For those who haven't uploaded their slides, please keep a backup on a memory stick, on Dropbox or similar. Please show up at your presentation room at least 10 minutes before the show starts, hook up your laptop to the projector and verify that everything works as expected. Lightning talk presenters should arrive 15 minutes before the one hour slot which their presentation belongs to.

For those interested, there will be a guided tour at the JavaZone venue, Oslo Spektrum Arena, at 1815 on Tuesday September 6th. Meet us outside the main entrance; http://maps.google.com/maps?q=oslo+spektrum+oslo&hl=en&sll=37.0625,-95.677068&sspn=78.177246,101.25&vpsrc=0&z=16. There will be two maxi taxies leaving from Oslo Spektrum at 1850 to the venue for our Speaker's Dinner.

The Speaker's Dinner is held at Akersberget; http://maps.google.com/maps?q=Akersberget+Restaurant,+Maridalsveien+22,+0175+Oslo,+Norge&hl=en&sll=37.0625,-95.677068&sspn=78.177246,101.25&vpsrc=0&z=16. The dinner will be in an informal atmosphere and we will be serving tapas. Feel free to show up when you like, from 1900 and outwards.

We will hand out tickets to the conference at Akersberget. Alternatively, you can pick up your speaker's ticket at Oslo Spektrum on Wednesday. Please see our website for practical information regarding tickets here; http://jz11.java.no/practicalities.html.

We have deprecated our old Wednesday evening concept and are now introducing AweZone. It takes place on Wednesday, after the presentations are finished. AweZone will be a great festival this year. Read more on our website; http://jz11.java.no/awezone.html.

For any further information and assistance, please do not hesitate to contact the JavaZone crew present in the speaker's lounge, at the JavaZone booth in the expo area or one of the following contact persons from the committee:

Kristoffer Moum, kristoffer@java.no, #kristoffer79, cell phone +4790055088 or
Ole Christian Rynning, oc@java.no, #olecr, cell phone +4798219347

Best regards,
The JavaZone Program Committee
